@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&family=Roboto:ital,wght@0,100;1,100;1,700&family=Scheherazade+New:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-continer {
  height: 70px;
  width: 1260px;
  background-color: green;
}
.logo {
  font-size: 40px;
  font-family: "Bitter";
  padding: 10px;
  margin-left: 20px;
  width: 150px;
  color: rgb(253, 253, 253);
}
/* font-family: 'Bitter', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Scheherazade New', serif; */
